<script>
    import Select from 'svelte-select';
    import * as api from '../node_modules/api';
    import {goto, stores} from '@sapper/app';
    import {createEventDispatcher, tick} from 'svelte';
    import {_} from 'svelte-i18n'

    const {page, session} = stores();
    const dispatch = createEventDispatcher();

    export let selectedMonth;
    export let lastSelectedMonth;
    export let isEnd;

    let dateNow = new Date().toISOString().slice(0, 10)
    let lastMonth = dateNow.slice(0, 4) + "-" + ((+dateNow.slice(5, 7) - 1) >= 10 ? +dateNow.slice(5, 7) - 1 : '0' + (+dateNow.slice(5, 7) - 1))
    $: lastSelectedMonth = !lastSelectedMonth ? lastMonth : lastSelectedMonth;
    selectedMonth = '';
    let months = []
    $: months = createMonths(lastSelectedMonth, isEnd)

    function createMonths(lastSelectedMonth, isEnd) {
        let i;
        let months = []
        if (lastSelectedMonth === lastMonth && !isEnd) {
            months.push({label: $_('monthOptionBeginningOfTime'), value: '1899-12'})
        }
        for (i = 0; i < 12; i++) {
            let newMonth = +lastSelectedMonth.slice(5, 7) + i
            let year = newMonth >= 13 ? +lastSelectedMonth.slice(0, 4) + 1 : lastSelectedMonth.slice(0, 4)
            newMonth = newMonth >= 13 ? +lastSelectedMonth.slice(5, 7) + i - 12 : newMonth;
            let date = newMonth > 9 ? year + "-" + newMonth : year + "-0" + newMonth;
            months.push({label: date, value: date})
        }
        if (isEnd && lastSelectedMonth !== 'monthOptionForever') {
            months.push({label: $_('monthOptionForever'), value: '9999-12'})
        }
        return months
    }

    async function selectMonth() {
        dispatch("select", {
            selectedMonth
        })
    }

</script>

<Select items={months}
        on:select={()=>selectMonth()}
        placeholder="Select month"
        bind:selectedValue={selectedMonth}
        getSelectionLabel={(option) => option.label}
        getOptionLabel={(option) => option.label}/>


